/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rye", cursive;

}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(93, 36, 36);
}

h2 {
  color: rgb(93, 36, 36);
}


a,
.btn {
  transition: all 300ms ease;
}


nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: rgb(93, 36, 36);
  text-decoration: none;
  text-decoration-color: white;
}

.a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
  color: rgb(93, 36, 36);
}

.logo:hover {
  cursor: default;
}

/* Hero Section */
#Hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60vh;
    background-image: url(assets/HeroImage.png);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 2rem;
}

.hero-text {
    width: 50%;
    text-align: center;
    margin: auto;
}

.hero-search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background: black .5;
    padding: 0.5rem;
    border-radius: 5px;
}

.hero-search input {
    width: 300px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
}

/* Search Button */
.searchButton {
    background-color: #b85c42;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.searchButton:hover {
    background-color: #a04836;
}

/* Bookshelf */
#bookshelf {
    text-align: center;
    padding: 4rem 0;
    background: #f8f1e5; 
}

#bookshelf h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #5a3826;
}

.bookshelf-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
    flex-wrap: wrap;
}

.book {
    width: 150px;
    text-align: center;
}

.book img {
    width: 100%;
    height: 225px;
    gap: 0 2rem;
    border-radius: 5px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.book p {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #3b2a1a;
}
